.notification-group {
  position: relative;
}
.headerComponent__icon {
  color: var(--darken-color);
  font-size: 2rem;
  margin: 0 0.5rem 0 1rem;
}
.notification-icon {
  position: absolute;
  background-color: var(--whiten-color);
  width: 1.3rem;
  height: 1.3rem;
  color: var(--darken-color);
  text-align: center;
  line-height: 140%;
  border-radius: 50%;
  top: -0.5rem;
  right: -0.09rem;
}
